project/*
!project/plugins.sbt
!project/build.properties
target
out
generated
test_run_dir

# Files
src/snax_streamer_gemmX_shell_wrapper.sv

# EDA synthesis run outputs
runs/

# Build server cache
.bloop/

# Python cache
__pycache__/
*.pyc
*.pyo

# Tools binaries
sv2v-Linux
sv2v-Linux.zip

# Log and result files
*.log
*.csv

# Intermediate converted files
*_converted.v

# Backend EDA outputs
Backend/OpenRAM_output/
Backend/.ipynb_checkpoints/
